header,
article,
aside,
.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 9.5em;

  & > div.container,
  section.container,
  footer {
    width: 80%;
  }
}

aside,
article,
header {
  margin-bottom: 2.5em;
  padding: {
    top: 2.5em;
    bottom: 2.5em;
  }
}

section {
  margin-bottom: 3em;
}
