a {
  color: $purple;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 3px solid $purple;
  padding-bottom: 0.1em;
  transition: 200ms ease-in-out all;
  position: relative;
  z-index: 100;

  &::after {
    content: "";
    background-color: $purple;
    width: 0;
    height: 1.4em;
    position: absolute;
    top: 0;
    left: 0;
    transition: 200ms ease-in-out all;
    z-index: -100;
  }

  &:hover {
    color: $white;

    &:after{
      width: 100%;
    }
  }

  &:visited {
    color: lighten($purple, 10%);
    border-color: lighten($purple, 10%);
    &:hover{ 
      color: $white;
    }
  }
}

a.link-github {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $white;
  padding: 0.5em 2em;
  background-color: $purple;
  border-radius: 0.3em;
  border: 3px solid $purple;
  svg {
    width: 1em;
    fill: $white;
    margin-right: 0.5em;
  }
  &:hover {
    background-color: transparent;
    color: $purple;
    svg {
      fill: $purple;
    }
  }
}