body {
  background-color: $black;
  margin: 0;
}

article {
  &:first-of-type,
  &:last-of-type {
    background-color: $medium-grey;
  }
}

blockquote {
  margin-left: 0;
  padding-left: 1.5em;
  border-left: 2em solid $grey;
}

#files {
  a {
    display: inline-block;
    margin: {
      bottom: 1em;
      right: 1em;
    }
    @include button;
  }
}
