main {
}
body {
  background-color: $black;
  margin: 0;
}

article {
  &:first-of-type,
  &:last-of-type {
    background-color: $medium-grey;
  }
}

blockquote {
  margin-left: 0;
  padding-left: 1.5em;
  border-left: 2em solid $grey;
}

#files {
  a {
    display: inline-block;
    margin: {
      bottom: 1em;
      right: 1em;
    }
    @include button;
  }
}

#styles {
  ul.features {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    li {
      display: block;
      padding: 1em 2em;
      background-color: $medium-grey;
      border-radius: 0.3em;
      margin: {
        right: 1em;
        bottom: 1em;
      }
      a:hover {
        color: $white;
        span {
          display: none;
        }
      }
    }
    span {
      display: block;
    }
  }
}
