html {
  font-size: 12px;

  @media screen and (min-width: 1400px) {
    font-size: 125%;
  }

  @media screen and (min-width: 1000px) {
    font-size: 115%;
  }

  @media screen and (min-width: 600px) {
    font-size: 105%;
  }
}
